<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>UMS2</display-name>
  
  <welcome-file-list>
    <welcome-file>addstudent.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>one</servlet-name>
	  <servlet-class>vinay.controller.AddStudentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>one</servlet-name>
	  <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>two</servlet-name>
	  <servlet-class>vinay.controller.AddSubjectController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>two</servlet-name>
	  <url-pattern>/addsubject</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>three</servlet-name>
	  <servlet-class>vinay.controller.UpdateStudentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>three</servlet-name>
	  <url-pattern>/updatestudent</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>four</servlet-name>
	  <servlet-class>vinay.controller.DeleteStudentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>four</servlet-name>
	  <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>five</servlet-name>
	  <servlet-class>vinay.controller.FetchStudentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>five</servlet-name>
	  <url-pattern>/fetchstudent</url-pattern>
  </servlet-mapping>
</web-app>